<!-- templates/personal.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-outline-secondary">Task</button>
    
    </button>

   
  </div>
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
</div>
</div>
<div class="container-fluid">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Add More Task</button>
</div>
{% endblock content %}